$mainText: #1d1d1d;
$bg: #fff;
$error: #be1f2a;
$btn: #000;
$border: rgba(#000, 0.16);
$disabledText: #acacac;
$disabled: #efefef;
$placeholder: rgba(29, 29, 29, 0.4); // rbga(29, 29, 29, 0.1)
$pagUnactive: rbga(0, 0, 0, 0.5);
