.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  max-width: 500px;
}

.pad_btn_1 {
  padding: 14.5px 41px;
}

@media (max-width: 829px) {
  .heading {
    max-width: initial;
    text-align: center;
  }
  .header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 2rem;
  }
}
